<table style="width:100%">
    <tr>
        <th>Location</th>
        <th>Description</th>
        <th>Adventures</th>
        <th>Username</th>
    </tr>
            <% if !@trips.empty? %>
            <% @trips.each do |trip| %>
    <tr>
        <td><%= trip.location %></td>
        <td><%= trip.description %></td>
        <td><%= trip.adventures %></td>
        <td><%= trip.user.username %></th></td>
            <% end %>
            <% end %>
    </tr>
</table>
    