<h1>This is the login page</h1>

<h3>Login</h3>

<form action="/users/login" method="POST">
  Username: <input type="text" name="username">
  Password: <input type="password" name="password">
  <input type="submit" value="Login">
</form>